<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__content">
                <!-- <h1 class="footer__inner__content__title">UNDER</h1> -->
                <!-- <div class="footer__inner__content__wrapper footer__inner__content__wrapper--first">
                    <h5 class="footer__inner__content__wrapper__title">Information:</h5>
                    <a href="" class="footer__inner__content__wrapper__link">- User agreement</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Privacy policy</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Documents</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Rights and contracts</a>
                </div> -->
                <div class="footer__inner__content__wrapper footer__inner__content__wrapper--prelast">
                    <h5 class="footer__inner__content__wrapper__title">ИП Броско Александр Сергеевич</h5>
                    <span class="footer__inner__content__wrapper__link">ИНН 602712561006</span>
                    <span class="footer__inner__content__wrapper__link">ОГРНИП 323600000004580</span>
                    <a href="tel:89643130397" class="footer__inner__content__wrapper__link">тел. +7 964 313 03 97</a>
                    <a href="mailto:info@ABrosko.ru" class="footer__inner__content__wrapper__link">Почта для связи : info@ABrosko.ru</a>
                </div>
                <div class="footer__inner__content__wrapper">
                    <h5 class="footer__inner__content__wrapper__title">Расчётный счёт: АО "Тинькофф Банк" </h5>
                    <span class="footer__inner__content__wrapper__link">Номер счета : 4080 2810 1000 0434 3608</span>
                    <span class="footer__inner__content__wrapper__link">ИНН Банка 7710140679</span>
                    <span class="footer__inner__content__wrapper__link">БИК 044525974</span>
                    <span class="footer__inner__content__wrapper__link">Корр.счет 30101810145250000974</span>
                </div>
            </div>
            <div class="footer__inner__bottom">
                <div class="footer__inner__bottom__wrapper">
                    <div class="footer__inner__bottom__icon"></div>
                    <a href="index.html" class="header__logo footer__logo">
                        <span>A</span>Brosko
                    </a>
                </div>
                <div class="footer__inner__bottom__icon__social">
                    <a href="https://vk.com/abroskostudio" target="_blank" class="footer__inner__bottom__icon__social__items social__items__vk">
                        <svg>
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <a href="mailto:info@Abrosko.ru" target="_blank" class="footer__inner__bottom__icon__social__items social__item__mail">
                        <svg>
                            <use xlink:href="#mail"></use>
                        </svg>
                    </a>
                    <a href="https://www.behance.net/abrosko" target="_blank" class="footer__inner__bottom__icon__social__items social__item__inst">
                        <svg>
                            <use xlink:href="#Be"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>